.date{
    width: 90px;
    background-color: #fff;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}
.month{
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #D62828;
    font-size: 20px;
}

.day{
    font-size: 55px;
    height: 60px;
    line-height: 60px;
}
